@{
    Layout = "_Layout";
}

<div class="container">  <!-- 开加一个container的目的是为了让整体布局居中 -->
    <div class="tab-head" id="category">
        <ul class="list-group">
            <li class="list-group-item" v-for="item in categorys">{{item.name}}</li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="show">
            <ul>
                <li v-for="item in items">
                    <img src="item.pic"/>
                    <p>{{item.Title}}</p>
                    <p class="price"><span class="mon-color">{{item.price}}</span></p>
                    <p><span class="fr cart">add to cart</span></p>
                </li>
            </ul>
            <p class="add"></p>
        </div>
    </div>

</div>

@section Styles{
    <style>
        .choose {
            background-color: #E3E3E3;
        }
        .tab-content {
            position: absolute;
            top: 0;
            left: 26%;
            width: 74%;
        }
        .tab-content div{
            display: none;
        }
        .tab-content ul li img{
            width: 9rem;
            height: 9rem;
            float: left;
        }
    </style>
}
@section Scripts{
    <script>
        new Vue({
            el: "#register",
            data: {
                email: null,
                password: null,
                reEnter: null
            },
            methods: {
                SignUp: function () {
                    axios.get("/api/goods/lst/"+)
                        .then(function (res) {
                            this.loaded = true;
                            console.log(this.loaded);
                        })
                        .catch(function (err) {

                        })
                        .then(function () {

                        });
                }
            }
        });
    </script>
}