<template id="UserProfileHeader">

    <li class="nav-item">
        <a class="nav-link text-dark" href="/basket">Cart<span class="badge badge-info" style="margin-left:10px;">{{basketCount}}</span></a>
    </li>
    <li class="nav-item" v-if="!signin">
        <a class="nav-link text-dark" href="/account/login">Sign in</a>
    </li>

    <li class="nav-item" v-if="signin">
        <a class="nav-link text-dark" href="/profile">Hello, {{nickName}}</a>
    </li>

</template>
