@{
    ViewData["Title"] = "Home Page";
}
<template id="app">
    <div>
        <ul>
            <li v-for="item in list">
                {{item.title}}
            </li>
        </ul>
    </div>
</template>

@section Scripts
    {
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                list: [{ id: 1, title: "abc" }],
                loaded: false
            },
            mounted: function () {
                //axios.get("/api/account/register")
                //    .then(function (res) {
                //        this.loaded = true;
                //        console.log(this.loaded);
                //    })
                //    .catch(function (err) {

                //    })
                //    .then(function () {

                //    });
            },
            methods: {

            }
        });
    </script>
}