
@{
    ViewData["Title"] = "Order detail";
}
@model string
<h1>Order detail</h1>

<template id="app">
    <div class="img-thumbnail">
        <h4>Order code:{{detail.orderCode}}</h4>

        <ul class="goods">
            <li v-for="item in detail.goodsInfos">
                <img :src="item.pic" />
                <h5>{{item.title}}</h5>
                <div>
                    <span>Quantity：{{item.count}}</span>
                    <span>Price：${{item.price}}</span>
                </div>
            </li>
        </ul>
        <div class="info">
            <div>Total amount:${{detail.amount}}</div>
            <div>Created time:{{detail.createdOn}}</div>
        </div>
        <div class="action">
            <a v-if="detail.payStatus==0" href="javascript:;" v-on:click="del(index,item)" class="btn btn-secondary btn-sm">Cancel</a>
            <a v-if="detail.payStatus==0" :href="['/profile/order/detail/'+detail.orderCode]" class="btn btn-primary btn-sm">Pay now!</a>
        </div>
    </div>
</template>
@section Scripts{
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                detail: [{ id: 1, title: "abc" }],
                category: [],
                currentCategory: 0,
                goods: []
            },
            mounted: function () {
                var self = this;
                axios.get("http://localhost:9001/api/order/detail/@Model",
                        {
                            headers: {
                                Authorization: "Bearer " + localStorage.getItem("access_token")
                            }
                        })
                    .then(function (res) {
                        self.detail = res.data;
                    })
                    .catch(function(err) {
                        if (err.response.status == 401) {
                            window.location.href = "/account/login";
                        } else
                            alert(err.response.data);
                    })
                    .then(function() {

                    });
            },
            methods: {
                loadGoods: function () {
                    var self = this;
                    axios.get("http://localhost:9001/api/goods/lst/" + self.currentCategory)
                        .then(function (res) {
                            self.goods = res.data;
                        })
                        .catch(function (err) {

                        })
                        .then(function () {

                        });
                }
            }
        });
    </script>
}
@section Styles{
    <style>
        .goods li { display: flex; flex-direction: column; width: 220px; }
        .goods li img { width: 220px; height: 220px; }
        .goods li h5 { text-align: center; }
        .goods li div { display: flex; justify-content: space-between; }
        .action { text-align: right; margin: 10px 0; }
        .action a { margin-left: 10px; }
        .info { display: flex; justify-content: space-between; }
    </style>
}